flask
flask-cors

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

boto3
aws-xray-sdk
watchtower

blinker
rollbar

Flask-AWSCognito


psycopg[binary]
psycopg[pool]
