@import url(../index.css);
.search_field input[type='text'] {
  border: solid 2px rgba(255,255,255,0.1);
  background: var(--tileground-color);
  padding: 16px;
  font-size: 16px;
  border-radius: 14px;
  width: 100%;
  outline: none;
  color: #fff;
}
.search_field input[type='text']:focus {
  border: solid 1px var(--separtor-color);
}