@import url(../index.css);
.search_field input[type='text'] {
  background: var(--tileground-color);
  border: 2px solid #c471ff;
  border-radius: 14px;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 16px;
  width: 100%;
}
.search_field input[type='text']:focus {
  border: 2px solid #c471ff;;
}