@import url(../index.css);
.trendings {
  display: flex;
  flex-direction: column;
  background: var(--tileground-color);
  border-radius: 20px;
  margin-top: 24px;
}

.trendings .trendings-title {
  font-size: 16px;
  color: #fff;
  padding: 16px;
  border-bottom: solid 3px var(--separtor-color);
}

.trendings a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 16px;
}

.trendings a span {
  display: block;
}

.trendings a span.count {
  font-size: 13px;
  color: rgba(255,255,255,0.5)
}